[submodule "atlas"]
	path = atlas
	url = git@github.com:jonny-novikov/atlas.git
[submodule "tbls"]
	path = tbls
	url = git@github.com:jonny-novikov/tbls.git
[submodule "pgroll"]
	path = pgroll
	url = git@github.com:jonny-novikov/pgroll.git
