# Fastify
PORT=3000
HOST=0.0.0.0
LOG_LEVEL=info

# Database config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=codemojex
DATABASE_PASSWORD=codemojex_password
DATABASE_NAME=codemojex_dev
# Database Connection String
DATABASE_URL=postgres://codemojex:codemojex_password@localhost:5432/codemojex_dev

VALKEY_HOST=localhost
VALKEY_PORT=6390 # passwordless
