# Database config
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=codemoji_dev
DATABASE_PASSWORD=codemoji_password
DATABASE_NAME=codemoji_game
# Database Connection String
DATABASE_URL=postgres://codemoji_dev:codemoji_password@localhost:5432/codemoji_game

VALKEY_HOST=127.0.0.1
VALKEY_PORT=6390
VALKEY_PASSWORD=

SECRET_KEY_BASE=your_secret_key
CODEMOJI_BOT_TOKEN=your_bot_token

# Tigris bucket
AWS_ACCESS_KEY_ID=your_access_key
AWS_ENDPOINT_URL_S3=your_s3_endpoint_url
AWS_ENDPOINT_URL=your_endpoint_url
AWS_REGION=auto
BUCKET_NAME=your_bucket_name
AWS_SECRET_ACCESS_KEY=your_secret_access_key
